@import url(noremalize.css);
@import url(common.css);
@import url(root.css);

/* 整体页面 */
html,
body,
#app {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:var(--bg-100);
}
