/* 单行超出隐藏省略号显示 */
._1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 两行超出隐藏省略号显示  */
._2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 左右浮动 */
._fl {
    float: left;
}
._fr {
    float: right;
}

/* x y 轴滚动 */
._x-s {
    overflow-x: auto;
}
._y-s {
    overflow-y: auto;
}

/* 对其方式 */
._t-c {
    text-align: center;
}
._t-l {
    text-align: left;
}
._t-r {
    text-align: right;
}

/* 绝对居中定位 */
._a-c {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* flex 居中定位 */
._f-c {
    display: flex;
    justify-content: center;
    align-items: center;
}